{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
<h1>Главная страница</h1>

<form method="post">
  {% csrf_token %}
  <ul>
    <li>
      <label for="name">Имя</label>
      <input type="text" id="name" name="name">
    </li>
    <li>
      <label for="mail">Почта</label>
      <input type="email" id="mail" name="mail">
    </li>
    <li class="button">
      <button type="submit">Отправить</button>
    </li>
  </ul>
{% load static %}
<img src="{% static 'img/cat_logo.jpg' %}">

{% endblock %}
    